.chart {
  &-data {
    display: flex;
    justify-content: space-between;
  }
  &-pie {
    flex-grow: 4;
    svg {
      cursor: pointer;
    }
  }
  &-legend {
    margin-left: 3em;
    font-size: 12px;
  }
  &-instruction {
    margin-top: 1em;
    font-size: 12px;
  }
}
