@import "./../../../utilities/scss/variables.scss";

.singleresultcard {
  &-container {
    color: $color-main-text;
  }

  &-prep {
    text-align: center;
  }

  &-cities {
    display: flex;
    justify-content: space-around;
    p {
      text-align: center;
      background-color: #dddddd;
      font-family: "Courier New", Courier, monospace;
      margin: 0.3em;
    }
  }

  &-description {
    font-size: 14px;
    text-align: center;
  }

  &-aircraft {
    text-align: center;
    margin-top: 2em;
  }
}
