@import "./../../../utilities/scss/variables.scss";

@mixin container() {
  width: 18rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8%;
  padding: 1rem;
  margin: 2rem;
}

.card {
  &-container {
    &-medium {
      @include container();
      min-height: auto;
    }

    &-map {
      @include container();
      min-height: 21rem;
    }
  }

  &-title {
    font-weight: 700;
    color: #837961;
    margin-top: 0.4px;
  }
}
