@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap");
@import "./components/Map/style/index.scss";
@import "./components/Card/style/index.scss";
@import "./components/SearchBar/style/index.scss";
@import "./components/Header/style/index.scss";
@import "./components/SearchBar/style/paper.scss";
@import "./components/Chart/style/index.scss";
@import "./modules/SingleResultCard/index.scss";
@import "./utilities/scss/variables.scss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: $color-main-text;
  background-image: linear-gradient(to bottom, transparent, #837960),
    url("assets/top-view-plane-with-blue-background.jpg");
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #8ac1c2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: grid;
}

.app {
  &-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-splitcards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 10rem;
  }
}

li {
  list-style: none;
}
